// body
$body-background-color: #C9C3CA;

// link tags
$nav-link-color: #B5AD93;
$nav-link-active-color: #fff;


// header
$header-background-color: #080813;
$header-border-color: #0F0D24;
$header-title-color: #B5AD93;

//footer
$footer-color: #080813;
