@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Vast+Shadow|Faster+One|Quicksand);

$decorative-font: 'Cinzel Decorative', cursive;
$body-font: sans-serif;
$shadow-font: 'Vast Shadow', cursive;
$fast-font: 'Faster One', cursive;
