.resume {
  p, li {
    font-size: .8em;
  }
}

.resume-info {
  text-align: center;
  margin: 0 auto;
  h2 {
    padding: 5px;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    margin-bottom: 20px;
  }
  li {
    display: inline-block;
    padding: 0 5px;
    border-right: solid 2px black;
  }
}

.resume-subject-header {
  margin: 10px 0;
}

.resume-subject-child {
  font-size: .8em;
  margin-bottom: 10px;
}
.resume-subject-child-header {
  font-weight: bolder;
  font-style: italic;
}

.resume-subject-list {
  margin-top: -8px;
  list-style: circle;
}
