.profilePic {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.text-link {
  color: #001A87;
  &:visited{
    color: #001A87;
  }
  font-weight: bold;
}

@media screen and (min-width: 750px) {
/****** About Me 2 column layout ******/
  .profilePic {
    margin: 0 5% 500px 0;
    float: left;
  }

}
